/*

 box-sizing: border-box;

*/
*{
    box-sizing: border-box;
}


#google-form{
    background-color: black;
    padding: 20px;
}
#google-form form{
    width: 400px;
    padding: 20px;
    background-color: white;
    margin: auto;
}
#google-form input{
    display: block;
    font-size: 18px;
    padding: 8px;
    margin: 5px 0px 10px 0px ;
    width: 100%;
}
#google-form button{
    border: none;
    font-weight: bold;
    background-color: rgba(117, 117, 128, 0.253);
    padding: 10px 0px;
    width: 100%;
    cursor:pointer;
}
/* REGISTER FORM */
.register-form{
    padding: 50px;
}
.register-form form {
    width: 500px;
    margin: auto;
    border: 1px solid black;
}
.register-form label{
    display: block;
}
#input-inline {
    display: flex;
}
#input-inline input:checked + label{
    background-color: red;
}
#input-inline input{
    display: none;
}
#input-inline label{
    display: block;
    padding: 10px;
    background-color: blue;
    color: white;
    margin: 5px;
}

